body {
    background-color: #2C2B3D;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 71px 99px 101px 99px; 
}

nav ul {
    color: white;
    font-family: 'JetBrains Mono', sans-serif;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 64px;
}

nav li:hover {
    color: grey;
    cursor: pointer;
}

main {
   margin: 0px 99px 0px 99px; 
}
section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

section h1 {
    font-weight: bold;
    font-size: 36px;
}